*{
    margin:0;
    padding:0;
}
body{
    font-family: Cambria, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.4em;
    text-transform:uppercase;
    background:transparent url(img/bgbody2.jpg);
    background-size:100%;
    background-repeat: no-repeat;
}


ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 10px;
    right: 25%;
    list-style: none;
    z-index:9999;
}
#perfil {
  transform:rotate(-5deg);
  margin: 0px;
  padding: 0px;
  top: -46px;
  left: 16%;
  background:transparent url(img/user.png);
  background-repeat: no-repeat;
  background-size:100%;
  z-index:999999;
  position: fixed;
  text-decoration:none;
  font-size:16.5px;
  width:285px;
  height: 200px;
}
#foto{
margin-top:65px;
margin-left:67px
}
#texto{
margin-top:-48px;
margin-left:117px
}
#perfil a:link{ font-weight:bold; text-shadow:2px 2px 2px black; color:white; text-decoration:none;}
#perfil a:active{   font-weight:bold; text-shadow:2px 2px 2px black; color:white; text-decoration:none;}
#perfil a:visited{ font-weight:bold; text-shadow:2px 2px 2px black; color:white; text-decoration:none;}
#perfil a:hover{ font-weight:bold; text-shadow:2px 2px 2px black; color:white; text-decoration:none;}


ul#navigation li {
    display:inline;
    float:left;
    width:105px;
    margin-left:1px;

}


ul#navigation li a {
    display: block;
    font-weight:bold;
    text-shadow:2px 2px 2px black;
    float:left;
    width: 150px;
    height: 55px;
    color:white;
    background:transparent url(img/item.png) no-repeat bottom right;
    text-decoration:none;
    text-align:center;
    padding-top:80px;
    margin-top: -30px;
    cursor:pointer;
    margin-left: 110px;
}
ul#navigation li a:active {
  color:#F3F781;
}

#contenedor_global {
     width:100%;
     padding:0 10%;
     margin:0 auto;
}

#cabecera {
     width:90%;
     padding:0px;
  padding-top: 0px;
     height:0%;
     margin:-70px;
     /*background:transparent url(img/banner.png) no-repeat bottom left;*/
     background-size:100%;
    position: absolute;
    z-index: 999;
}

#cuerpo {
     width:80%;
     height:860px;
     padding:0px;
     margin-left:0px;
     background:transparent url(img/background.jpg) no-repeat;
     background-size:100%;
     margin-top: 0px;
    position: absolute;
    opacity: 0.95;

}
#contenido {
     width:100%;
     height:85%;
     padding:0px;
     background:#4f4f4f;
     margin-top:110px;
    position: absolute;
    font-weight:bold;
    text-shadow:2px 2px 1px black;
    text-align: center;
    color:white;
    border-radius: 0px 0px 0px 0px;
    opacity: 0.95;
}
#cuerpo #contenido>div {
  float: left;
}
#lateral{
width:20%;
height:100%;
background: grey;
border-radius: 0px 0px 0px 0px;
}
.noticia {
  width: 25%;
  float: left;
  overflow-y: auto;

}

.noticia div {
  background:transparent url(img/marco.png) no-repeat;
  background-color: grey;
  background-size:100%;
  width: 80%;
  margin: 30px auto;
  overflow-y: auto;
  height: 37.68%;
}
.noticia p{
  margin-left: 10px;
  margin-top: 5px;
  margin-right: 10px ;
  margin-bottom: 5px;
  font-size: 10;
}
.noticia img{
  height: 60%;
  width: 100%;
}
.noticia h3{
  height: 15%;
  font-size: 16;
  margin-left: 10px;
  margin-right: 10px ;

}
.pelicula {
  width: 25%;
  float: left;
  overflow-y: auto;

}

.pelicula div {
  background-size:100%;
  width: 85%;
  margin: 15% auto;
  overflow-y: auto;
  height: 35%;
}

.pelicula img{
  height: 100%;
  width: 100%;
}
.pelicula h3{
margin-top: -30px;
  height: 15%;
  font-size: 16;
  margin-left: 10px;
  margin-right: 10px ;
  position: absolute;

}
.pelicula h2{
margin-top: -30px;
margin-left: 10px;
  font-size: 16;
  margin-left: 130px;
  margin-right: 10px ;
  position: absolute;

}
.pelicula h1{
  font-size: 14;
  position: absolute;
}
#profile_content{

text-align: left;
  margin-left: 5%;
  width: 50%;
}
#profile_content p{
  margin-top: 5%;
}
#profile_content a:link{ font-weight:bold; text-shadow:2px 2px 2px black; color:#F2F2F2; text-decoration:none;}
#profile_content a:active{   font-weight:bold; text-shadow:2px 2px 2px black; color:#F2F2F2; text-decoration:none;}
#profile_content a:visited{ font-weight:bold; text-shadow:2px 2px 2px black; color:#F2F2F2; text-decoration:none;}
#profile_content a:hover{ font-weight:bold; text-shadow:2px 2px 2px black; color:#F2F2F2; text-decoration:none;}

input[type="text"], input[type="password"]{
    margin-top:1%;
    background: #ffffff44;
    text-decoration: none;
    border-style: none;
    border-radius: 6px;
padding-left: 1%;
  margin-left: 1%;
  text-align: left;
  width: 30%;
    color: white;
    font-size: 1.2em;
}
input[type="password"]{

}

input[type="submit"], input[type="button"]{
      border-radius: 6px;
  margin-top: 2%;
text-decoration: none;
background: #ffffff44;
width: 130px;
height: 34px;
font-size:14pt;
color: #fff;
BORDER: rgb(128,128,128) 1px;
}
input[type="button"]{
    margin-left: 22px;
}
#passwords{
  margin-top: 5%;
}
